
<nav class="menu">
    <ul class="menu-item">
        <li class="name"><a href="{{ path("home") }}">Toiwilou Hassane</a></li>
        <ul class="block-menu">
            <li class="item"><a href="{{ path("home") }}">Accueil</a></li>
            <li class="item"><a href="{{ path("profile") }}">Profil</a></li>
            <li class="item"><a href="{{ path("contact") }}">Cours</a></li>
            <li class="item"><a href="{{ path("gallery") }}">Gallerie</a></li>
        </ul>
    </ul>
</nav>